/* Основной текст */
@font-face {
	font-family: 'Segoe Script Normal';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe Script Normal'), url('../fonts/segoesc.ttf');
}

/* Заголовки полужирный */
@font-face {
	font-family: 'Segoe Print Bold';
	font-style: normal;
	font-weight: bold;
	src: local('Segoe Print Bold'), url('../fonts/segoeprb.ttf');
}
