@media only screen and (min-width: 960px) {
  .flex_wrapper:hover {
    transform: scale(1.2) translateY(10%);
  }
}

@media only screen and (max-width: 960px) {
  .flex_wrapper {
    width: 100%;
    margin-left: 0;
  }

  .dot {
    width: 2vw;
    height: 2vw;
  }

  .header_2 {
    padding-top: 7%;
    font-size: 3vw;
    line-height: 3.5vw;
  }

  #btn_prev img, #btn_next img {
    width: 100%;
    height: 10%;
    padding-top: 25vw;
  }
}

@media only screen and (max-width: 700px) {
  .dot {
    width: 2.5vw;
    height: 2.5vw;
  }

  .header_2 {
    padding-top: 8%;
    font-size: 4vw;
    line-height: 4.5vw;
  }
}
