@media only screen and (max-width: 960px) {
  #nav_ul {
    padding-right: 10%;
  }

  #nav_ul li {
    width: 90%;
    font-size: 4vw;
  }

  #nav_ul li:hover .global {
    transform: scale(1.1);
  }

  #nav_ul ul li{
   padding-top: 1vw;
   padding-left: 30%;
   width: 150%;
   float: none;
  }

  #nav_ul li:hover .local {
    font-size: 3vw;
  }

  #nav_ul li:hover .local {
    text-decoration: none;
    transition:-webkit-transform 0.25s linear;
  }

}
