@media only screen and (min-width: 1024px) {
  .flex_wrapper:hover {
    transform: scale(1.2) translateY(10%);
    z-index: 1;
  }

  .flex_wrapper:hover .slide_caption {
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {

  .flex_wrapper {
    width: 100%;
    margin-left: 0;
  }

  .slider_wrapper {
    height: 55vw;
  }

  .dot {
    width: 2vw;
    height: 2vw;
  }

  .header_2 {
    padding-top: 7%;
    font-size: 3vw;
    line-height: 3.5vw;
  }

  #btn_prev img, #btn_next img {
    width: 100%;
    height: 10%;
    padding-top: 25vw;
  }

  .slide_caption {
    font-size: 3vw;
  }

  .flex_wrapper:hover .slide_caption {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {

  .dot {
    width: 2.5vw;
    height: 2.5vw;
  }

  .header_2 {
    padding-top: 8%;
    font-size: 4vw;
    line-height: 4.5vw;
  }

  .slide_caption {
    font-size: 4vw;
    line-height: 1;
  }

  .flex_wrapper:hover .slide_caption {
    opacity: 1;
  }
}
