@media only screen and (min-width: 768px) and (max-width: 1024px) {

  #nav_ul {
    padding-right: 10%;
  }

  #nav_ul li {
    width: 90%;
    font-size: 4vw;
  }

  #nav_ul li:hover .global {
    transform: scale(1.1);
  }

  #nav_ul ul li{
   padding-top: 1vw;
   padding-left: 30%;
   width: 150%;
   float: none;
  }

  #nav_ul li:hover .local {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 768px) {

  #nav_ul {
    padding-right: 10%;
  }

  #nav_ul li {
    width: 90%;
    font-size: 4vw;
  }

  #nav_ul li:hover .global {
    transform: scale(1.1);
  }

  #nav_ul ul li{
   padding-top: 2vw;
   padding-left: 10%;
   width: 150%;
   float: none;
  }

  #nav_ul li:hover .local {
    font-size: 4vw;
  }
}
