/* Стили для 4 блоков в первой секции _1 - для нечетных, _2 - для четных */

.main_bloks {
  color: #ffffff;
  width: 80%;
  height: 400px;
  background-color: #101010;
  position: relative;
  margin-left: 10%;
  transition-duration: 1.5s;
  opacity: 0.9;
}

.main_headers_1, .main_headers_2 {
  font-size: 3vw;
  font-style: normal;
  font-family: 'Segoe Print Bold';
  top: 30%;
  line-height: 1;
  text-align: right;
  position: absolute;
  left: auto;
  right: 8%;
  transition-duration: 1.5s;
}

.main_headers_2 {
  text-align: left;
  left: 8%;
  right: auto;
}

.long {
  width: 30%;
}

.main_photo_first_1, .main_photo_second_1, .main_photo_first_2, .main_photo_second_2 {
  width: 38%;
  height: auto;

  top: 7%;
  right: 59%;
  left: auto;

  transition-duration: 1.5s;
  transition-delay: 0.2s;

  position: absolute;
  box-shadow: -0.5vw 0.5vw 1vw #000000;
}

.main_photo_first_2, .main_photo_second_2 {
  left: 59%;
  right: auto;
  box-shadow: 0.5vw 0.5vw 1vw #000000;
}

.main_text_1, .main_text_2 {
  width: 50%;
  text-align: right;
  position: absolute;
  right: 6%;
  left: auto;
  bottom: 2vw;
}

.main_text_2 {
  text-align: left;
  left: 6%;
  right: auto;
}
