* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
  background: #141414;
  color: #ffffff;
  max-width: 1920px;
}

#button {
  position: fixed;
  display: block;
  margin: 4vw 0 0 4vw;
  width: 5vw;
  height: 5vw;

  color: #f0f0f0;
  font-size: 2.5vw;
  font-weight: 900;
  background-color: #050505;
  border: 2px solid #f0f0f0S;
  border-radius: 50%;
  line-height: 5vw;
  text-align: center;
  text-decoration: none;

  z-index: 2;
  box-shadow: 0 0 1vw #000000;
  transition-duration: 0.7s;
}

#button:hover {
  font-weight: 900;
  box-shadow: 0 0 3vw #202020;
}

#button:active {
  color: #cccccc;
  background-color: #cccccc;
  /* border: 2px solid #050505; */
}

#header {
  margin-top: 120px;
  padding-right: 7%;
  color: #ffffff;
  width: 93%;
  height: 500px;
  background-color: #000000;
  position: relative;
}

#photo {
  width: 100%;
  height: 500px;

  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;

  opacity: 0.3;
  position: absolute;
}

#text {
  font-size: 6.5vw;  /*100px*/
  font-style: normal;
  font-weight: bold;
  font-family: 'Segoe Print';
  line-height: 400px;
  position: absolute;
  right: 5%;
}

#text2 {
  width: 60%;
  font-size: 1.7vw; /*25px*/
  font-style: normal;
  font-weight: normal;
  font-family: 'Segoe Script';
  line-height: 2.5vw; /*37px*/
  position: absolute;
  left: 5%;
  top: 400px;
}
