.main_bloks {
  color: #ffffff;
  width: 80%;
  height: 400px;
  background-color: #101010;
  position: relative;
  margin-left: 10%;
  transition-duration: 1.5s;
}

.main_headers_1, .main_headers_2 {
  font-size: 3vw; /*40px*/
  font-style: normal;
  font-weight: bold;
  font-family: 'Segoe Print';
  /* line-height: 300px; */
  top: 30%;
  /* width: 30%; */
  line-height: 1;

  position: absolute;
  left: auto;
  right: 8%; /*50px*/
  transition-duration: 1.5s;
}

.main_headers_2 {
  left: 8%;
  right: auto;
}

.main_photo_first_1, .main_photo_second_1, .main_photo_first_2, .main_photo_second_2 {
  width: 38%;
  height: auto; /*350px*/

  top: 7%; /*25px*/
  right: 59%;
  left: auto;

  transition-duration: 1.5s;
  transition-delay: 0.2s;
  /* -webkit-transition-duration:0.96s;
  -moz-transition-duration:0.96s;
  -o-transition-duration:0.96s;
  -ms-transition-duration:0.96s; */

  position: absolute;
  box-shadow: -0.5vw 0.5vw 1vw #000000;
}

.main_photo_first_2, .main_photo_second_2 {
  left: 59%;
  right: auto;
  box-shadow: 0.5vw 0.5vw 1vw #000000;
}

.main_text_1, .main_text_2 {
  width: 50%;

  font-size: 1.7vw; /*25px*/
  font-style: normal;
  font-weight: normal;
  font-family: 'Segoe Script';
  text-align: right;
  line-height: 2.5vw; /*37px*/
  position: absolute;
  right: 6%;
  left: auto;
  bottom: 2vw;
}

.main_text_2 {
  text-align: left;
  left: 6%;
  right: auto;
}
